In [1]:
import pandas as pd 
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Read in the data
INPUT_DIR = '../Data'
cal = pd.read_csv(f'{INPUT_DIR}/calendar.csv')
stv = pd.read_csv(f'{INPUT_DIR}/sales_train_validation.csv')
ss = pd.read_csv(f'{INPUT_DIR}/sample_submission.csv')
sellp = pd.read_csv(f'{INPUT_DIR}/sell_prices.csv')

In [7]:
sellp.head(1)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58

In [3]:
cal.head(1)

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0

In [8]:
#Global variable
product_id='FOODS_3_090_CA_3_validation'
wm_yr_wk_unique=sellp.wm_yr_wk.unique()

In [16]:
data.head()

,index,0,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_TX,store_id,item_id,sell_price
0,d_897,0,11325,Saturday,1,7,2013,NaN,NaN,NaN,NaN,1,CA_1,HOBBIES_1_001,9.58
1,d_898,0,11325,Sunday,2,7,2013,NaN,NaN,NaN,NaN,0,CA_1,HOBBIES_1_001,9.58
2,d_899,0,11325,Monday,3,7,2013,NaN,NaN,NaN,NaN,1,CA_1,HOBBIES_1_001,9.58
3,d_900,0,11325,Tuesday,4,7,2013,NaN,NaN,NaN,NaN,0,CA_1,HOBBIES_1_001,9.58
4,d_901,0,11325,Wednesday,5,7,2013,NaN,NaN,NaN,NaN,0,CA_1,HOBBIES_1_001,9.58

In [46]:
%%time
#Transform

df=pd.DataFrame({})

for dem_col_name,product_id in enumerate(stv['id'][:10]):
    
    data=stv[stv.id==product_id].iloc[:,6:].T.reset_index()
    data=data.merge(cal, left_on='index', right_on='d')
    data=data.drop(['d','snap_CA', 'snap_WI','date'],axis=1)

    #Get the prices
    store_id='_'.join(product_id.split('_')[3:5])
    item_id='_'.join(product_id.split('_')[:3])
    df_price=sellp[sellp.item_id==item_id]
    df_price=df_price[(df_price.store_id==store_id)]
    df_price=df_price[df_price.wm_yr_wk.isin(wm_yr_wk_unique)]

    #Merge it
    data=data.merge(df_price, on='wm_yr_wk')
    df=df.append(data)

CPU times: user 3.5 s, sys: 50.5 ms, total: 3.55 s
Wall time: 3.59 s

In [49]:
df['index'].value_counts()

d_1213    10
d_1607    10
d_1696    10
d_1219    10
d_1123    10
d_1147    10
d_1459    10
d_1691    10
d_1166    10
d_1637    10
d_1729    10
d_1883    10
d_1864    10
d_1355    10
d_1890    10
d_1783    10
d_1248    10
d_1533    10
d_1773    10
d_1312    10
d_1335    10
d_1292    10
d_1405    10
d_1525    10
d_1306    10
d_1581    10
d_1190    10
d_1529    10
d_1819    10
d_1601    10
          ..
d_33       3
d_20       3
d_18       3
d_7        3
d_23       3
d_19       3
d_5        3
d_3        3
d_10       3
d_16       3
d_4        3
d_6        3
d_1        3
d_25       3
d_34       3
d_29       3
d_32       3
d_14       3
d_2        3
d_31       3
d_12       3
d_17       3
d_9        3
d_24       3
d_30       3
d_22       3
d_21       3
d_26       3
d_28       3
d_11       3
Name: index, Length: 1913, dtype: int64

In [47]:
df

,index,0,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,...,sell_price,1,2,3,4,5,6,7,8,9
0,d_897,0.0,11325,Saturday,1,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,d_898,0.0,11325,Sunday,2,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,d_899,0.0,11325,Monday,3,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d_900,0.0,11325,Tuesday,4,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d_901,0.0,11325,Wednesday,5,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,d_902,1.0,11325,Thursday,6,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,d_903,0.0,11325,Friday,7,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,d_904,0.0,11326,Saturday,1,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,d_905,0.0,11326,Sunday,2,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,d_906,0.0,11326,Monday,3,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,d_907,0.0,11326,Tuesday,4,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,d_908,0.0,11326,Wednesday,5,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,d_909,0.0,11326,Thursday,6,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,d_910,0.0,11326,Friday,7,7,2013,NaN,NaN,NaN,...,9.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,d_911,0.0,11327,Saturday,1,7,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,d_912,0.0,11327,Sunday,2,7,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,d_913,0.0,11327,Monday,3,7,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,d_914,0.0,11327,Tuesday,4,7,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,d_915,0.0,11327,Wednesday,5,7,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,d_916,0.0,11327,Thursday,6,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,d_917,2.0,11327,Friday,7,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,d_918,0.0,11328,Saturday,1,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,d_919,1.0,11328,Sunday,2,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,d_920,1.0,11328,Monday,3,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,d_921,0.0,11328,Tuesday,4,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,d_922,0.0,11328,Wednesday,5,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,d_923,0.0,11328,Thursday,6,8,2013,Eid al-Fitr,Religious,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,d_924,0.0,11328,Friday,7,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,d_925,0.0,11329,Saturday,1,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,d_926,1.0,11329,Sunday,2,8,2013,NaN,NaN,NaN,...,8.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1883,d_1884,NaN,11609,Saturday,1,3,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1884,d_1885,NaN,11609,Sunday,2,3,2016,Easter,Cultural,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1885,d_1886,NaN,11609,Monday,3,3,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1886,d_1887,NaN,11609,Tuesday,4,3,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1887,d_1888,NaN,11609,Wednesday,5,3,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1888,d_1889,NaN,11609,Thursday,6,3,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1889,d_1890,NaN,11609,Friday,7,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1890,d_1891,NaN,11610,Saturday,1,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1891,d_1892,NaN,11610,Sunday,2,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
1892,d_1893,NaN,11610,Monday,3,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1893,d_1894,NaN,11610,Tuesday,4,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1894,d_1895,NaN,11610,Wednesday,5,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1895,d_1896,NaN,11610,Thursday,6,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1896,d_1897,NaN,11610,Friday,7,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1897,d_1898,NaN,11611,Saturday,1,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1898,d_1899,NaN,11611,Sunday,2,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1899,d_1900,NaN,11611,Monday,3,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1900,d_1901,NaN,11611,Tuesday,4,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1901,d_1902,NaN,11611,Wednesday,5,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1902,d_1903,NaN,11611,Thursday,6,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1903,d_1904,NaN,11611,Friday,7,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1904,d_1905,NaN,11612,Saturday,1,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1905,d_1906,NaN,11612,Sunday,2,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1906,d_1907,NaN,11612,Monday,3,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1907,d_1908,NaN,11612,Tuesday,4,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1908,d_1909,NaN,11612,Wednesday,5,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1909,d_1910,NaN,11612,Thursday,6,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1910,d_1911,NaN,11612,Friday,7,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1911,d_1912,NaN,11613,Saturday,1,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1912,d_1913,NaN,11613,Sunday,2,4,2016,NaN,NaN,NaN,...,2.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [44]:
df

   A
0  1
1  2
2  3

In [ ]:
    #Categorical data
    data=pd.concat([data,pd.get_dummies(data[['weekday','event_name_1',
                                              'event_name_2','event_type_1'
                                              ,'event_type_2']])],axis=1)

    data=data.drop(['store_id','item_id','weekday','event_name_1',
                'event_name_2','event_type_1',
                'event_type_2','index'],axis=1)